.hero-section{
    display: flex;
    height: 540px;
    background-color: #1f2937;
    flex-direction: column;
}

.hero-logo-and-links{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
}


.hero-links{
    display: flex;
    justify-content: space-evenly;
    width: 500px
}

.hero-links p{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: underline;
}


.hero-logo p{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    margin-top: 15px;
    padding-right: 400px;
}


.hero-main-content{
    display: flex;
    height: 400px;
    width: 1300px;
    margin-left: 300px
}

.hero-left-content{
    width: 480px;
    flex-direction: column;
    justify-self: flex-start;
}

.hero-left-content #hero-main-text{
   font-size: 48px;
   color: #f9faf8;
   font-weight: 800;
}

#hero-secondary-text{
  font-size: 18px;
  color: #e5e7eb;
}

#hero-sign-up{
    font-size: larger;
    margin-top: 20px;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
}


.hero-right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 40px;
    background-color: gray;
}


#text1{
    margin-top: 120px;
    color: #f9faf8;
    font-size: 30px;

}


.info-section{
    display: flex;
    flex-direction: column;
    height: 500px;
}


.info-section-header{
    display: flex;
    justify-content: center;
    height: 100px;
}


#info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
}

.info-boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 1400px;
    margin-left: 200px;
}

.boxes{
    border: 5px solid #3882f6;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 100px;
}


.text{
    margin-top: 230px;
    font-size: 20px;
    color: #1f2937;
    text-align-last: center;
    text-align: center;
}


.testimonial{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 400px;
}


.quote{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 100px;
    height: 200px;
    width: 850px;
}

#quote1{
   font-size: 38px;
   align-self: center;
}

#quoter{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 600px;
    margin-top: -10px
}


.call-to-action-section{
    height: 400px;
}

